<div class="info">
  <div class="welcome">
    <h1>Welcome!</h1>
  </div>
  <h5>Please Login: </h5>
    <%=# render partial: 'form' %><br>

  <h5>Don't have an account yet? Click <%= link_to "here.", new_user_path %></h5>
</div>
