<h1 class=" display-5 font-weight-bold text-light info">Recommend Substitution For:</h1>
<div>
<h1 class=" display-3 text-success font-weight-bold info"><%= @recipe.name %></h1>
<%= link_to 'Back To Recipes Index', user_recipes_path(current_user), class: "btn btn-success btn-md border border-muted ml-3 mb-3 align-middle" %>
</div>

<%= render partial: "layouts/show_errors", locals: {model: @substitution} %>

<div>
  <%= render partial: 'form', locals: {recipe_ingredients: @recipe_ingredients, recipe: @recipe, substitution: @substitution, submit: "Recommend Substitution!"} %> <br>
</div>
