<div class="center">

  <%= render partial: 'form' %> <br>



  <p><h5>Already have an account?</h5></p>

  <p><a class="btn btn-primary btn-lg " href="<%= login_path %>" role="button">Log-In</a></p>
  <h5> or </h5>
  <p><h4><%= link_to('<span class="white-link">Log in with Facebook </span><i class="fab fa-facebook-square"></i>'.html_safe, '/auth/facebook') %></h4></p>

</div>
