<% if @dishes.empty? %>
  <h3>You have not added any recipes to your dish plan!</h3>
<% else %>
  <h3>Your dishes</h3>

  <ul class="list-group mt-1 mb-3">
    <% @dishes.each do |recipe| %>
        <li class="list-group-item">
        <span class="float-left pt-1"><%= recipe.name %></span>
        <%= link_to "Show Recipe", user_recipe_path(current_user, recipe), class: "btn btn-sm btn-primary border border-muted ml-5 float-right" %>
        <span class="float-right mr-5">
          <% if recipe.likes.count > 0 %>
           <%= recipe.likes.count  %>&nbsp;<i class="fas fa-grin-hearts align-middle"></i>
          <% end %>
         </span>

        </li>
    <% end %>
  </ul>

<% end %>
