body, html {
   height: 100%;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
 }

 .bg {
   background-image: linear-gradient(black, transparent), url(healthydiet.jpg);
   height: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: scroll;
 }

 #mainEmoji {
    width: 110px;
    height: 100px;
    opacity: 0.9;
    filter: alpha(opacity=50);
    filter: drop-shadow(2px 2px 2px green);
}

 /* lists */

 ul li a, ol li a {
   color: rgb(253,193,57);
 }

 ol {
   padding-left: 0;
   list-style-position: inside;
 }

 ul {
   list-style-type: none;
   padding-left: 0 ;
 }

 /* links */

 .nav-link {
   color: rgb(41,162,182);
 }

 .red-link {
   color: rgb(216,54,72);
 }

 .white-link {
   color: white ;
 }

 .yellow-link {
   color: rgb(253,193,57);
   font-weight: bold;
 }

 /* errors */

 .field_with_errors {
   color: rgb(216,54,72);
 }

 .error_message {
   color: rgb(216,54,72);
 }

 /* img */

 .dog-img {
   height: 100%;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-color: #222;
   object-fit: cover;
 }

 /* text */

 .overlay {
   position: absolute;
   left: 15px;
   right: 15px;
   object-fit: cover;
   top: 0;
   bottom: 0;
   background-image: linear-gradient(to top, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.5), transparent);
 }

 .yellow-text {
   color: rgb(253,193,57) ;
   font-weight: bold;
 }

 .red-text {
   color: rgb(216,54,72);
 }

 .invert {
   filter: invert(50%);
 }

 .indent-10 {
   margin-left: 10px;
 }

 .indent-57 {
   margin-left: 57px;
 }

 .bottom-text {
   position: absolute;
   bottom: 0;
   width: 100%;
 }

 .center {
    text-align: center;
  }

  .pic,
  .info {
    padding: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    vertical-align: middle;
    margin: 10px;
  }
